
@{
    ViewBag.Title = "Home";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite Solution - Software Company</title>
    
</head>
<body>
    <header>
        <h1>@ViewBag.Name</h1>
        <p>Software Company</p>
    </header>
    <div class="container">
        <h2>About Us</h2>
        <p>
            @ViewBag.Desc
        </p>
        <h2>Contact Information</h2>
        <ul>
            <li><strong>Address:</strong> @ViewBag.Address </li>
            <li><strong>Email:</strong> <a href="mailto:info@elitesolution.com">@ViewBag.Email</a></li>
        </ul>
    </div>
</body>
</html>


