
@{
    ViewBag.Title = "Educational Information";
}

<h2>Education</h2> <br />

                   <main>
                       <h4>@ViewBag.Message</h4> <br />


                       <!DOCTYPE html>
                       <html>
                       <head>
                           <title></title>
                       </head>
                       <body>
                           
                           <ul>
                               <li>
                                   <strong>HSC</strong>
                                   <ul>
                                       <li>Institute: Dhaka City College</li>
                                       <li>Year: 2019</li>
                                       <li>Group: Science</li>
                                       <li>Result: 4.50</li>
                                   </ul>
                               </li>
                               <li>
                                   <strong>SSC</strong>
                                   <ul>
                                       <li>Institute: Natore Govt. Boys' High School'</li>
                                       <li>Year: 2017</li>
                                       <li>Group: Science</li>
                                       <li>Result: 5.00</li>
                                   </ul>
                               </li>
                           </ul>
                       </body>
                   </html>

                   </main>