
<main>
   @{
    ViewBag.Title = "Home";
}


  
        
                <h2>My Information</h2>
                <p><strong>Name:</strong> Asmaul Hossain Akash</p>
                <p><strong>ID:</strong> 20-44209-3</p>
                <p><strong>Email:</strong> akashasmaulhossain@gmail.com</p>
                <p><strong>Contact No:</strong> 01781770073</p>

</main>

