@{
    ViewBag.Title = "Personal Info";
}

<!DOCTYPE html>
<html>
<head>
    <title>My Information</title>
    <style>
        
        .social-icon {
            width: 32px; /* Adjust the width as needed */
            height: 32px; /* Adjust the height as needed */
            margin-right: 10px; /* Adjust the spacing between icons */
        }

        .profile-image {
            max-width: 150px; /* Adjust the maximum width of the image */
            height: auto; /* Automatically adjust the image height to maintain aspect ratio */
            border-radius: 50%; /* Make the image round */
            float: left; /* Float the image to the left */
            margin: 0 20px 20px 0; /* Add spacing around the image */
        }

    </style>
</head>
<body>
    <!-- Profile Picture -->
    <img class="profile-image" src="https://avatars.githubusercontent.com/u/98410077?v=4" alt="Profile Picture">
    <br /> <br />
    <strong>Name: </strong>Asmaul Hossain Akash <br />
    <strong>Email: </strong>akashasmaulhossain@gmail.com <br />
    <strong>Contact No: </strong>01781770073 <br /> <br /> <br /> <br /> 

    <h2>About Me</h2>

    <p>👋 Hello there! I'm Akash, a 22-year-old Computer Science Engineer from American International University - Bangladesh with a pocketful of dreams.</p>
    <p>💫 I'm a passionate multi-developer who thrives on functional and object-oriented programming paradigms.</p>
    <p>🧭 My philosophy revolves around testing, maintaining high code quality, and adhering to coding standards.</p>
    <p>👯 I'm always open to collaboration on any of my open-source projects, so don't hesitate to reach out.</p>
    <p>🔭 Currently, I focus on software quality assurance, where I'm dedicated to ensuring that software performs at its best.</p>
    <p>🌱 Additionally, I'm mastering advanced c sharp (.net framework), pushing the boundaries of my knowledge and skills.</p>
    <p>Let's connect and explore opportunities to innovate and create together! 🚀 #SoftwareEngineer #OpenSource #CodingEnthusiast</p>



    <!-- Social Media Links -->
    <h3>Connect with Me</h3>
    <p>
        <strong>Follow me on:</strong>
        <a href="https://github.com/akashasmaul" target="_blank"><img class="social-icon" src="https://cdn-icons-png.flaticon.com/256/25/25231.png" alt="GitHub"></a>
        <a href="https://www.linkedin.com/in/akashasmaul/" target="_blank"><img class="social-icon" src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn"></a>
        <a href="https://www.facebook.com/akashasmaul/" target="_blank"><img class="social-icon" src="https://cdn-icons-png.flaticon.com/256/124/124010.png" alt="Facebook"></a>
    </p>
</body>
</html>
