@{
    ViewBag.Title = "Projects";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #000; /* Black border */
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<h2>Projects</h2>

<table>
    <thead>
        <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Description</th>
          
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Object Oriented Programming (JAVA)</td>
            <td><a href="https://github.com/akashasmaul/Stadium-Seat-Booking-System-Java-OOP-Project">Stadium Seat Booking System</a></td>
            <td>A console application using java.</td>
        </tr>



        <tr>
            <td>Object Oriented Programming 2 (C Sharp)</td>
            <td><a href="https://github.com/akashasmaul/Train-Station_Management-System-OOP2-C-Sharp-GUI-Project">Train Station Management System</a></td>
            <td>A desktop application on railway station management system. (Manage tickets as railway authority)</td>
        </tr>

        <tr>
            <td>Web Technologies</td>
            <td><a href="https://github.com/akashasmaul/Dorkari_Web_Tech_Project">Dorkari Platform Ltd</a></td>
            <td>This is a service provider website. We used HTML and CSS for the frontend and PHP, JS, and SQL for the backend.</td>
        </tr>

        <tr>
            <td>Computer Graphics</td>
            <td><a href="https://github.com/akashasmaul/RoadRash-Computer-Graphics-Open-GL-Project">Road Rash</a></td>
            <td>Developed a Computer Graphics Open-GL project on based on a car racing track. The theme was based on Forza Horizon 5, a Xbox game.</td>
        </tr>

        <tr>
            <td>Web Devolopment</td>
            <td><a href="https://github.com/akashasmaul/Student-Portal-Web-Development-Project">Student Portal</a></td>
            <td>Developed a student portal website for a univarsity project.</td>
        </tr>

        <tr>
            <td>Computer Vision</td>
            <td><a href="https://mllj2j8xvfl0.i.optimole.com/cb:jC7e.37109/w:1024/h:726/q:90/f:avif/https://themeisle.com/blog/wp-content/uploads/2022/06/sorry-you-are-not-allowed-to-access-this-page-error.png">Bangla-Digit-Recognition-using-deep-CNN</a></td>
            <td>Developed a computer vision project based on deep convolutional neural network.</td>
        </tr>
        <tr>
            <td>Data Structure</td>
            <td><a href="https://github.com/akashasmaul/Console-Application-on-Padma-Tolling-System-by-C-Plus-Plus">Padma Tolling System</a></td>
            <td>A console application using C++.</td>
        </tr>

        <tr>
            <td>Software Devolopement and Project  Management</td>
            <td>Rapid Care</td>
            <td>A project management plan on Rapid Care, which is an software for emergency ambulance service.</td>
        </tr>

        <tr>
            <td>OOAD</td>
            <td><a href="https://github.com/akashasmaul/Music-Recomendation-System-project-for-OOAD">Music Recomendation System</a></td>
            <td>Recommendation systems are software tools and techniques providing suggestions for items to be of use to a user. In our project, we discussed the idea of a Music Recommendation System, where the purpose is to help users find kinds of music sequentially according to their choice. Here, we have shown how a Music Recommendation System works. We have developed this application as an interface among the Users, Artists, and Administration.</td>
        </tr>



    </tbody>
</table>
